
.header {
    background-image: url('../../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}



.profile{
    position: absolute;
    top: 1%;
    padding: 5%;
    border: solid 2px white;
    border-radius: 100%;
}
.image{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.navbar{
    padding-top: -2%;
}


.name {
    position: absolute;
    font-size:x-large;
    font-weight: 600;
    padding: 5%;
    margin-top: 40%;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.text-one {
    font-size: 1.5rem;
    padding: 0 2rem;
    padding-top: 2rem;
}

.text-two {
    font-size: 2rem;
    font-weight: 600;
    padding: 0 2rem;
}

.text-three {
    font-size: 1.5rem;
    padding: 0 2rem;
}

.icons1{
    position:absolute;
    right: 10%;
    top: 20%;
}
.icons2{
    position:absolute;
    right: 20%;
    top: 25%;
}

.icon{
    padding: 0.5rem;
    color: white;
}

.contact{
    position:absolute;
    right: 10%;
    top:10%;
    
}


